# Tiesinė regresija užduotis

In [295]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [296]:
%matplotlib inline

In [297]:
fish = pd.read_csv('https://raw.githubusercontent.com/robotautas/kursas/master/Machine%20Learning/Fish.csv')

In [298]:
fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

### Užduotis
Turime lentelę su 7 žuvų rūšim, bei įvairiais jų išmatavimais. Vienas iš jų yra svoris - tai bus mūsų *target* stulpelis. **Sukurkite tiesinės regresijos modelį, kuris pagal kitus lentelės stulpelius spėlios žuvies svorį.** Išsiaiškinkite, ar yra trūkstamų reikšmių, atsispausdinkite keletą diagramų ir histogramų, patyrinėkite tendencijas ir koreliacijas. Kilus neaiškumams, remkitės paskaitos medžiaga. Sėkmės!

In [299]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [300]:
dummies = pd.get_dummies(fish['Species'])

In [301]:
dummies.head(50)

    Bream  Parkki  Perch   Pike  Roach  Smelt  Whitefish
0    True   False  False  False  False  False      False
1    True   False  False  False  False  False      False
2    True   False  False  False  False  False      False
3    True   False  False  False  False  False      False
4    True   False  False  False  False  False      False
5    True   False  False  False  False  False      False
6    True   False  False  False  False  False      False
7    True   False  False  False  False  False      False
8    True   False  False  False  False  False      False
9    True   False  False  False  False  False      False
10   True   False  False  False  False  False      False
11   True   False  False  False  False  False      False
12   True   False  False  False  False  False      False
13   True   False  False  False  False  False      False
14   True   False  False  False  False  False      False
15   True   False  False  False  False  False      False
16   True   False  False  False  False  False      False
17   True   False  False  False  False  False      False
18   True   False  False  False  False  False      False
19   True   False  False  False  False  False      False
20   True   False  False  False  False  False      False
21   True   False  False  False  False  False      False
22   True   False  False  False  False  False      False
23   True   False  False  False  False  False      False
24   True   False  False  False  False  False      False
25   True   False  False  False  False  False      False
26   True   False  False  False  False  False      False
27   True   False  False  False  False  False      False
28   True   False  False  False  False  False      False
29   True   False  False  False  False  False      False
30   True   False  False  False  False  False      False
31   True   False  False  False  False  False      False
32   True   False  False  False  False  False      False
33   True   False  False  False  False  False      False
34   True   False  False  False  False  False      False
35  False   False  False  False   True  False      False
36  False   False  False  False   True  False      False
37  False   False  False  False   True  False      False
38  False   False  False  False   True  False      False
39  False   False  False  False   True  False      False
40  False   False  False  False   True  False      False
41  False   False  False  False   True  False      False
42  False   False  False  False   True  False      False
43  False   False  False  False   True  False      False
44  False   False  False  False   True  False      False
45  False   False  False  False   True  False      False
46  False   False  False  False   True  False      False
47  False   False  False  False   True  False      False
48  False   False  False  False   True  False      False
49  False   False  False  False   True  False      False

In [302]:
table_data = pd.concat([fish, dummies], axis = 1)

In [303]:
table_data.head()

,Species,Weight,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
0,Bream,242.0,23.2,25.4,30.0,11.5200,4.0200,True,False,False,False,False,False,False
1,Bream,290.0,24.0,26.3,31.2,12.4800,4.3056,True,False,False,False,False,False,False
2,Bream,340.0,23.9,26.5,31.1,12.3778,4.6961,True,False,False,False,False,False,False
3,Bream,363.0,26.3,29.0,33.5,12.7300,4.4555,True,False,False,False,False,False,False
4,Bream,430.0,26.5,29.0,34.0,12.4440,5.1340,True,False,False,False,False,False,False

In [304]:
table_data.drop(['Species'], axis=1, inplace=True)

In [305]:
table_data.head()

,Weight,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
0,242.0,23.2,25.4,30.0,11.5200,4.0200,True,False,False,False,False,False,False
1,290.0,24.0,26.3,31.2,12.4800,4.3056,True,False,False,False,False,False,False
2,340.0,23.9,26.5,31.1,12.3778,4.6961,True,False,False,False,False,False,False
3,363.0,26.3,29.0,33.5,12.7300,4.4555,True,False,False,False,False,False,False
4,430.0,26.5,29.0,34.0,12.4440,5.1340,True,False,False,False,False,False,False

In [306]:
table_data.columns

Index(['Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width', 'Bream',
       'Parkki', 'Perch', 'Pike', 'Roach', 'Smelt', 'Whitefish'],
      dtype='object')

In [307]:
parametrai = table_data[['Length1', 'Length2', 'Length3', 'Height', 'Width', 'Bream',
       'Parkki', 'Perch', 'Pike', 'Roach', 'Smelt', 'Whitefish']]

In [308]:
atsakymas = table_data['Weight']

In [309]:
parametrai

,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
0,23.2,25.4,30.0,11.5200,4.0200,True,False,False,False,False,False,False
1,24.0,26.3,31.2,12.4800,4.3056,True,False,False,False,False,False,False
2,23.9,26.5,31.1,12.3778,4.6961,True,False,False,False,False,False,False
3,26.3,29.0,33.5,12.7300,4.4555,True,False,False,False,False,False,False
4,26.5,29.0,34.0,12.4440,5.1340,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
154,11.5,12.2,13.4,2.0904,1.3936,False,False,False,False,False,True,False
155,11.7,12.4,13.5,2.4300,1.2690,False,False,False,False,False,True,False
156,12.1,13.0,13.8,2.2770,1.2558,False,False,False,False,False,True,False
157,13.2,14.3,15.2,2.8728,2.0672,False,False,False,False,False,True,False
158,13.8,15.0,16.2,2.9322,1.8792,False,False,False,False,False,True,False

In [320]:
parametrai

,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
0,23.2,25.4,30.0,11.5200,4.0200,True,False,False,False,False,False,False
1,24.0,26.3,31.2,12.4800,4.3056,True,False,False,False,False,False,False
2,23.9,26.5,31.1,12.3778,4.6961,True,False,False,False,False,False,False
3,26.3,29.0,33.5,12.7300,4.4555,True,False,False,False,False,False,False
4,26.5,29.0,34.0,12.4440,5.1340,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
154,11.5,12.2,13.4,2.0904,1.3936,False,False,False,False,False,True,False
155,11.7,12.4,13.5,2.4300,1.2690,False,False,False,False,False,True,False
156,12.1,13.0,13.8,2.2770,1.2558,False,False,False,False,False,True,False
157,13.2,14.3,15.2,2.8728,2.0672,False,False,False,False,False,True,False
158,13.8,15.0,16.2,2.9322,1.8792,False,False,False,False,False,True,False

In [311]:
atsakymas

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [312]:
from sklearn.model_selection import train_test_split

In [313]:
parametrai_train, parametrai_test, atsakymas_train, atsakymas_test = train_test_split(parametrai, atsakymas, test_size=0.33, random_state=50)

In [314]:
from sklearn.linear_model import LinearRegression

In [315]:
prediction = LinearRegression().fit(parametrai_train, atsakymas_train)

In [316]:
prognozes = prediction.predict(parametrai_test)

In [317]:
prognozes

array([-515.15260246,  194.29375207,   37.56904299,  -20.83561475,
         77.15658573,   49.93946542,  152.9677296 ,  643.08971914,
        503.43372555,  750.26973331,  -46.01225594,  592.26070764,
        220.31637056, 1041.75524559,  142.53430482,  127.74044588,
        -82.6657262 ,  928.06572958,  745.6749379 ,  411.21999282,
        -26.47747356,  644.74562899,   69.82494689,   80.14543347,
        326.71056399,  232.04158905,  585.33456154, -231.81638595,
        554.5662674 ,  909.51659236,   17.04282334, -279.36681518,
       -189.55815885, 1217.93170289, 1546.1952897 ,   -4.26322671,
        603.52309283,  985.48287626,  123.85535624,  229.94670204,
        624.51309131,  446.35748983,  436.06594331,  344.68081449,
        195.8319206 ,  115.69223797,  455.91095682,  283.2208252 ,
         12.89688144,  918.27124368,  -51.77756467,  457.34177989,
        806.54394081])

In [322]:
prediction.score(parametrai_test, atsakymas_test)

0.892943398263082

In [321]:
spejimai = pd.Series(data=prognozes, name='Rezultatai')

In [323]:
results = pd.concat([atsakymas_test.reset_index(), spejimai], axis=1)

In [324]:
results.head(50)

    index  Weight   Rezultatai
0      72     5.9  -515.152602
1      96   225.0   194.293752
2     155    13.4    37.569043
3     150     8.7   -20.835615
4     156    12.2    77.156586
5      39   120.0    49.939465
6     157    19.7   152.967730
7     113   700.0   643.089719
8      12   500.0   503.433726
9      25   725.0   750.269733
10     77   100.0   -46.012256
11     16   700.0   592.260708
12     98   188.0   220.316371
13    127  1000.0  1041.755246
14    128   200.0   142.534305
15     90   110.0   127.740446
16     76    70.0   -82.665726
17     34   950.0   928.065730
18     23   680.0   745.674938
19     57   306.0   411.219993
20    149     9.8   -26.477474
21     20   575.0   644.745629
22     38    87.0    69.824947
23     40     0.0    80.145433
24    102   300.0   326.710564
25    129   300.0   232.041589
26     54   390.0   585.334562
27     74    40.0  -231.816386
28     14   600.0   554.566267
29    121  1015.0   909.516592
30     81    85.0    17.042823
31     73    32.0  -279.366815
32     75    51.5  -189.558159
33    141  1250.0  1217.931703
34    144  1650.0  1546.195290
35    152     9.9    -4.263227
36    136   540.0   603.523093
37    140   950.0   985.482876
38     86   120.0   123.855356
39     99   180.0   229.946702
40     21   685.0   624.513091
41      3   363.0   446.357490
42    108   320.0   436.065943
43    131   300.0   344.680814
44     97   145.0   195.831921
45     41   110.0   115.692238
46      7   390.0   455.910957
47     48   169.0   283.220825
48    153     9.8    12.896881
49    119   850.0   918.271244